{{#*inline "htmTitleReportNarrativePage"}}		<!-- inline "htmTitleReportNarrativePage" -->
		<title>{{#if searchListReportNarrative_}}{{#eq reportNarrativeCount int1}}{{#eq params.query.q "*:*"}}report narrative{{else}}report narrative{{/eq}}{{else}}no report narrative found{{/eq}}{{else}}report narratives{{/if}}</title>
{{/inline}}
{{#*inline "htmMetaReportNarrativePage"}}{{> "htmMetaBaseModelPage"}}{{/inline}}
{{#*inline "htmStyleReportNarrativePage"}}{{> "htmStyleBaseModelPage"}}{{/inline}}
{{#*inline "htmScriptsReportNarrativePage"}}{{> "htmScriptsBaseModelPage"}}		<!-- inline "htmScriptsReportNarrativePage" -->
		<script src="{{staticBaseUrl}}/js/enUS/ReportNarrativePage.js"></script>
		<script src="{{staticBaseUrl}}/js/enUS/ReportSchedulePage.js"></script>
		<script src="{{staticBaseUrl}}/js/enUS/SiteUserPage.js"></script>
{{/inline}}
{{#*inline "htmScriptReportNarrativePage"}}		<!-- inline "htmScriptReportNarrativePage" -->
		<script>
			$(document).ready(function() {
				document.onkeydown = function(evt) {
					evt = evt || window.event;
					var isEscape = false;
					if ('key' in evt) {
						isEscape = (evt.key === 'Escape' || evt.key === 'Esc');
					} else {
						isEscape = (evt.keyCode === 27);
					}
					if (isEscape) {
						$('.w3-modal:visible').hide();
					}
				};
				window.eventBus = new EventBus('/eventbus');
				var pk = {{#if pk}}{{pk}}{{else}}null{{/if}};
				if(pk != null) {
		{{#ifContainsAnyRoles roles rolesRequired}}
					suggestReportNarrativeScheduleKey([{'name':'fq','value':'narrativeKeys:' + pk}], $('#listReportNarrativeScheduleKey_Page'), pk, true);
		{{else}}
					suggestReportNarrativeScheduleKey([{'name':'fq','value':'narrativeKeys:' + pk}], $('#listReportNarrativeScheduleKey_Page'), pk, false);
		{{/ifContainsAnyRoles}}
		{{#ifContainsAnyRoles roles rolesRequired}}
					suggestReportNarrativeAssigneeKey([{'name':'fq','value':'narrativeKeys:' + pk}], $('#listReportNarrativeAssigneeKey_Page'), pk, true);
		{{else}}
					suggestReportNarrativeAssigneeKey([{'name':'fq','value':'narrativeKeys:' + pk}], $('#listReportNarrativeAssigneeKey_Page'), pk, false);
		{{/ifContainsAnyRoles}}
				}
				websocketReportNarrative(websocketReportNarrativeInner);
				window.varsFq = JSON.parse('{{{toJsonObjectStringInApostrophes varsFq}}}');
				pageGraph();
			});
{{#if DEFAULT_MAP_LOCATION }}
			window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{{/if}}
{{#if DEFAULT_MAP_ZOOM }}
			window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{{/if}}
		</script>
{{/inline}}
{{#*inline "htmUrlReportNarrative"}}{{pageUri}}?q={{query.q}}&amp;rows={{#if rows}}{{rows}}{{else}}{{pagination.rows}}{{/if}}&amp;rows={{#if start}}{{start}}{{else}}{{pagination.start}}{{/if}}{{#each query.fq}}{{#eq fq this}}{{else}}&fq={{fq}}:{{val}}{{/eq}}{{/each}}{{#each query.sort}}{{#eq sort this}}{{else}}&sort={{var}} {{order}}{{/eq}}{{/each}}{{/inline}}
{{#*inline "htmHeadReportNarrativePage"}}{{#block "htmTitle"}}{{/block}}{{#block "htmMeta"}}{{/block}}{{#block "htmStyle"}}{{/block}}{{#block "htmScripts"}}{{/block}}{{#block "htmScript"}}{{/block}}{{/inline}}
{{#*inline "htmBodySearchReportNarrativePage"}}								<!-- #*inline "htmBodySearchReportNarrativePage" -->
								<div>
{{#each varsQ}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qReportNarrative_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qReportNarrative_{{ @key }}" placeholder="{{ displayName }}" class="" {{#eq ../var 'objectSuggest' }}onkeyup{{else}}onchange{{/eq}}="qChange(this); " data-var="{{ var }}" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
{{/each}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qReportNarrative_Start">start<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qReportNarrative_start" placeholder="{{ displayName }}" class="" onchange="paramChange(this); " data-var="start" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qReportNarrative_Rows">rows<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qReportNarrative_rows" placeholder="{{ displayName }}" class="" onchange="paramChange(this); " data-var="rows" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
								</div>
{{/inline}}
{{#*inline "htmBodyFiltersReportNarrativePage"}}								<!-- #*inline "htmBodyFiltersReportNarrativePage" -->
								<div>
{{#each varsFq }}
									<div class="">
										<label for="fqReportNarrative_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										<div class="w3-cell-row ">
											<div class="w3-cell w3-cell-top ">
												<button id="buttonFacetReportNarrative_{{ @key }}" class="" onclick="facetFieldChange(this); " title="see values " data-var="{{ var }}" data-clear="{{#if facetField }}true{{else}}false{{/if}}"><i class="fas fa-list "></i></button>
											</div>
											<div class="w3-cell w3-cell-top ">
												<input id="fqReportNarrative_{{ @key }}" placeholder="{{ displayName }}" class="" onchange="fqChange(this); " data-var="{{ var }}" autocomplete="off=" value="{{ val }}"/>
											</div>
										</div>
									</div>
									<div class="w3-tiny ">
										<div class="pageSearchVal " id="pageSearchVal-fqReportNarrative_{{ @key }}">{{#if val }}fq={{ var }}:{{encodeURIComponent val }}{{/if}}</div>
										<div class="pageSearchVal " id="pageSearchVal-buttonFacetReportNarrative_{{ @key }}">{{#if facetField.var }}facet.field={{ facetField.var }}{{/if}}</div>
										<ol class="pageFacetField w3-small pageFacetFieldReportNarrative_{{ @key }} " id="pageFacetFieldReportNarrative_{{ @key }}">
{{#each facetField.counts }}
											<li class="cursor-pointer " data-class="ReportNarrative" data-var="{{ ../var }}" data-val="{{ @key }}" onclick="fqReplace(this); ">{{ @key }}: {{ this }}</li>
{{/each}}
										</ol>
									</div>
{{/each}}
								</div>
{{/inline}}
{{#*inline "htmBodyRangeReportNarrativePage"}}								<!-- #*inline "htmBodyRangeReportNarrativePage" -->
								<table class="w3-padding ">
									<tr>
										<td class="w3-padding w3-tiny " colspan="2">
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeGap-ReportNarrative">{{#if defaultRangeGap }}facet.range.gap={{encodeURIComponent defaultRangeGap }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeStart-ReportNarrative">{{#if defaultRangeStart }}facet.range.start={{encodeURIComponent defaultRangeStart }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeEnd-ReportNarrative">{{#if defaultRangeEnd }}facet.range.end={{encodeURIComponent defaultRangeEnd }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeVar-ReportNarrative">{{#if defaultRangeVar }}facet.range={!tag=r1}{{encodeURIComponent defaultRangeVar }}{{/if}}</div>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
									<tr class="">
										<td class="">
											<span>Range Gap</span>
										</td>
										<td class="">
											<select name="facet.range.gap" id="pageFacetRangeGap-ReportNarrative" onchange="facetRangeChange(this, 'ReportNarrative'); ">
												<option value="+1YEAR"{{#eq defaultRangeGap '+1YEAR'}} selected="selected"{{else}}{{/eq}}>Year</option>
												<option value="+1MONTH"{{#eq defaultRangeGap '+1MONTH'}} selected="selected"{{else}}{{/eq}}>Month</option>
												<option value="+1WEEK"{{#eq defaultRangeGap '+1WEEK'}} selected="selected"{{else}}{{/eq}}>Week</option>
												<option value="+1DAY"{{#eq defaultRangeGap '+1DAY'}} selected="selected"{{else}}{{#if defaultRangeGap}}{{else}} selected="selected"{{/if}}{{/eq}}>Day</option>
												<option value="+1HOUR"{{#eq defaultRangeGap '+1HOUR'}} selected="selected"{{else}}{{/eq}}>Hour</option>
												<option value="+1MINUTE"{{#eq defaultRangeGap '+1MINUTE'}} selected="selected"{{else}}{{/eq}}>Minute</option>
												<option value="+1SECOND"{{#eq defaultRangeGap '+1SECOND'}} selected="selected"{{else}}{{/eq}}>Second</option>
											</select>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range Start</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeStart" id="pageFacetRangeStart-ReportNarrative" value="{{formatZonedDateTime defaultRangeStart "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeChange(this, 'ReportNarrative'); "/></span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range End</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeEnd" id="pageFacetRangeEnd-ReportNarrative" value="{{formatZonedDateTime defaultRangeEnd "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeChange(this, 'ReportNarrative'); "/></span>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
{{#each varsRange }}
									<tr class="">
										<td class="">
											<span><input type="radio" name="pageFacetRange" class="pageFacetRange " id="pageFacetRangeReportNarrative_{{ @key }}" value="{{ var }}"{{#eq defaultRangeVar var }} checked="checked"{{/eq}} onclick="facetRangeChange(this, 'ReportNarrative'); "/></span>
										</td>
										<td class="">
											<label for="pageFacetRangeReportNarrative_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyPivotReportNarrativePage"}}								<!-- #*inline "htmBodyPivotReportNarrativePage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-PivotReportNarrativeHidden">
{{#each defaultPivotVars }}
									<div class="pageSearchVal-PivotReportNarrativeHidden " id="pageSearchVal-PivotReportNarrativeHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-PivotReportNarrative">
{{#if defaultPivotVars }}
									<div class="pageSearchVal pageSearchVal-PivotReportNarrative " id="pageSearchVal-PivotReportNarrative_1">facet.pivot={!range=r1}{{#each defaultPivotVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFacetPivot" class="pageFacetPivot " id="pageFacetPivotReportNarrative_{{ @key }}" value="{{ var }}"{{#if pivot }} checked="checked"{{/if}} onclick="facetPivotChange(this, 'ReportNarrative'); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFacetPivotReportNarrative_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyFieldListReportNarrativePage"}}								<!-- #*inline "htmBodyFieldListReportNarrativePage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-FieldListReportNarrativeHidden">
{{#each defaultFieldListVars }}
									<div class="pageSearchVal-FieldListReportNarrativeHidden " id="pageSearchVal-FieldListReportNarrativeHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-FieldListReportNarrative">
{{#if defaultFieldListVars }}
									<div class="pageSearchVal pageSearchVal-FieldListReportNarrative " id="pageSearchVal-FieldListReportNarrative_1">fl={{#each defaultFieldListVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFieldList" class="pageFieldList " id="pageFieldListReportNarrative_{{ @key }}" value="{{ var }}"{{#if fieldList }} checked="checked"{{/if}} onclick="facetFieldListChange(this, 'ReportNarrative'); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFieldListReportNarrative_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyStatsReportNarrativePage"}}								<!-- #*inline "htmBodyStatsReportNarrativePage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-StatsReportNarrativeHidden">
{{#each defaultStatsVars }}
									<div class="pageSearchVal-StatsReportNarrativeHidden " id="pageSearchVal-StatsReportNarrativeHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-StatsReportNarrative">
{{#if defaultStatsVars }}
{{#each defaultStatsVars }}									<div class="pageSearchVal pageSearchVal-StatsReportNarrative_{{ this }} " id="pageSearchVal-StatsReportNarrative_{{ this }}">stats.field={{ this }}</div>
{{/each}}{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
{{#if enableStats }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageStats" class="pageStats " id="pageStatsReportNarrative_{{ @key }}" value="{{ var }}"{{#if ./stats }} checked="checked"{{/if}} onclick="facetStatsChange(this, 'ReportNarrative'); "/></span>
										</td>
										<td class="w3-cell ">
											<div>
												<label for="pageStatsReportNarrative_{{ @key }}">{{ displayName }}</label>
											</div>
											<div class="pageStatsField w3-small pageStatsFieldReportNarrative_{{ @key }} " id="pageStatsFieldReportNarrative_{{ @key }}">
{{#if ./stats }}
{{#each ./stats }}
{{#eq @key 'name' }}{{else}}
												<div data-class="ReportNarrative" data-var="{{ ../var }}" data-val="{{ @key }}">{{ @key }}: {{ this }}</div>
{{/eq}}
{{/each}}
{{#if ./stats/min }}
									<div>									<span> step </span>									<input id="animateStatsStep" placeholder="step" value="1" style="width: 4em; "/>									<span> min </span>									<input id="animateStatsMin" placeholder="min" value="{{ ./stats/min }}" style="width: 4em; "/>									<span> max </span>									<input id="animateStatsMax" placeholder="max" value="{{ ./stats/max }}" style="width: 4em; "/>									<span> speed in seconds </span>									<input id="animateStatsSpeed" placeholder="speed" value="1" style="width: 4em; "/>									<button onclick="animateStats(); ">animate</button>									</div>{{/if}}
{{/if}}
											</div>
										</td>
									</tr>
{{/if}}
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyMenuReportNarrativePage"}}		<!-- #*inline "htmBodyMenuReportNarrativePage" -->
{{> "htmBodyMenuBaseModelPage"}}{{/inline}}
{{#*inline "htmBodyGraphReportNarrativePage"}}		<!-- #*inline "htmBodyGraphReportNarrativePage" -->
<div id="htmBodyGraphBaseModelPage" class="w3-content htmBodyGraph "></div>{{/inline}}
{{#*inline "htmBodyCount0ReportNarrativePage"}}		<!-- #*inline "htmBodyCount0ReportNarrativePage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-light-green w3-hover-light-green">
				{{#if contextIconCssClasses}}
					<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
				{{/if}}
				<span class="">report narratives</span>
			</a>
		</h1>
		<h2>
			<span class="w3-bar-item w3-padding w3-center w3-block w3-light-green">
				{{#if contextIconCssClasses}}
					<i class="{{ contextIconCssClasses }}  site-menu-icon "></i>
				{{/if}}
				<span class="">no report narrative found</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1AllReportNarrativePage"}}		<!-- #*inline "htmBodyCount1AllReportNarrativePage" -->
		<h1 class="w3-center ">
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-block w3-light-green w3-hover-light-green">
			{{#if contextIconCssClasses}}
				<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
			{{/if}}
				<span class="">report narrative</span>
			</a>
		</h1>
		<h2 class="w3-center ">
			<span class="w3-bar-item w3-padding w3-center w3-block w3-light-green">
				<span class="">{{reportNarrative_.objectTitle}}</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1ReportNarrativePage"}}		<!-- #*inline "htmBodyCount1ReportNarrativePage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-light-green w3-hover-light-green">
	{{#if contextIconCssClasses}}
				<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">report narratives</span>
			</a>
		</h1>
		<div>
	{{#if pagination.pagePrevious}}
			<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-left "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
				<i class="fas fa-minus-square "></i>
			</a>
	{{else}}
			<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
				<i class="fas fa-plus-square "></i>
			</a>
	{{#if pagination.pageNext}}
			<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-right "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
			<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
		</div>
{{> "table1ReportNarrativePage"}}
{{/inline}}
{{#*inline "htmBodyAllReportNarrativePage"}}		<!-- #*inline "htmBodyAllReportNarrativePage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-light-green w3-hover-light-green">
	{{#if contextIconCssClasses}}
				<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">report narratives</span>
			</a>
		</h1>
		<div class="">
			<div>
	{{#if pagination.pagePrevious}}
				<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-left "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
					<i class="fas fa-minus-square "></i>
				</a>
	{{else}}
				<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
					<i class="fas fa-plus-square "></i>
				</a>
	{{#if pagination.pageNext}}
				<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-right "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
				<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
			</div>
{{> "table1ReportNarrativePage"}}
		</div>
{{/inline}}
{{#*inline "htmFormReportNarrativePage"}}
		<!-- #*inline "htmForm" -->
		<form action="/api/report-narrative" id="ReportNarrativeForm" class="pageForm " style="" onsubmit="event.preventDefault(); return false; ">
{{#if pk}}
			<input name="pk" class="valuePk" type="hidden" value="{{pk}}"/>
{{/if}}
			<input name="focusId" type="hidden"/>
			<input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{{toJsonObjectStringInApostrophes pageResponse }}}' type="hidden"/>
		</form>
{{#if id}}
{{#block "htmForm_searchpageReportNarrative"}}{{/block}}
{{/if}}
{{/inline}}
{{#*inline "htmFormReportNarrativePage_putimportReportNarrative"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-light-green "
			onclick="$('#putimportReportNarrativeModal').show(); "
			>
			<i class="fas fa-file-import "></i>
			Import report narratives
		</button>
		<div id="putimportReportNarrativeModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-light-green">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#putimportReportNarrativeModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Import report narratives</h2>
					</header>
					<div class="" id="putimportReportNarrativeFormValues">
						<div class="w3-cell-row ">
							<textarea
								class="PUTImport_searchList w3-input w3-border "
								style="height: 300px; "
								placeholder="{ 'searchList': [ { 'pk': ... , 'saves': [ ... ] }, ... ] }"
								></textarea>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-light-green "
							onclick="putimportReportNarrative($('#putimportReportNarrativeFormValues')); "
							>Import report narratives</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormReportNarrativePage_postReportNarrative"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-light-green "
			onclick="$('#postReportNarrativeModal').show(); "
			>
			<i class="fas fa-file-plus "></i>
			Create a report narrative
		</button>
		<div id="postReportNarrativeModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-light-green">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#postReportNarrativeModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Create a report narrative</h2>
					</header>
					<div class="" id="postReportNarrativeFormValues">
						<div id="postReportNarrativeForm">
							<div class="w3-cell-row ">
{{> "htmCreated" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="POST"}}
{{> "htmDeleted" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmScheduleKey" classApiMethodMethod="POST"}}
{{> "htmAssigneeKey" classApiMethodMethod="POST"}}
{{> "htmNarrativeName" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmNarrativeDueDate" classApiMethodMethod="POST"}}
							</div>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-light-green "
							onclick="postReportNarrative($('#postReportNarrativeForm')); "
							>Create a report narrative</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormReportNarrativePage_patchReportNarrative"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-light-green "
			onclick="$('#patchReportNarrativeModal').show(); "
			>
			<i class="fas fa-edit "></i>
			Modify report narratives
		</button>
		<div id="patchReportNarrativeModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-light-green">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#patchReportNarrativeModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Modify report narratives</h2>
					</header>
					<div class="" id="patchReportNarrativeFormValues">
							<div class="w3-cell-row ">
{{> "htmCreated" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="PATCH"}}
{{> "htmDeleted" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmScheduleKey" classApiMethodMethod="PATCH"}}
{{> "htmAssigneeKey" classApiMethodMethod="PATCH"}}
{{> "htmNarrativeName" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmNarrativeDueDate" classApiMethodMethod="PATCH"}}
							</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-light-green "
							onclick="patchReportNarrative(null, $('#patchReportNarrativeFormValues')); "
							>Modify report narratives</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormReportNarrativePage_searchpageReportNarrative"}}
		<div id="searchpageReportNarrativeModal" class="">
			<div class="">
				<div class="w3-card-4 ">
					<div class="" id="searchpageReportNarrativeFormValues">
						<div id="searchpageReportNarrativeForm">
							<div class="w3-cell-row ">
{{> "htmPk" classApiMethodMethod="Page"}}
{{> "htmCreated" classApiMethodMethod="Page"}}
{{> "htmModified" classApiMethodMethod="Page"}}
{{> "htmObjectId" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="Page"}}
{{> "htmDeleted" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmScheduleKey" classApiMethodMethod="Page"}}
{{> "htmAssigneeKey" classApiMethodMethod="Page"}}
{{> "htmNarrativeName" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmFirstDueDate" classApiMethodMethod="Page"}}
{{> "htmDataPullDate" classApiMethodMethod="Page"}}
{{> "htmNarrativeDueDate" classApiMethodMethod="Page"}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmBodySidebarReportNarrativePage"}}
				<div class="w3-dropdown-click w3-bar-block min-width-300px ">
					<div class="min-width-300px ">
						<span title="Search" class="siteSidebarToggle w3-padding-small w3-hover-black w3-light-green " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-light-green'); $(this).addClass('w3-black'); $(this).removeClass('w3-light-green'); "><i class="fad fa-magnifying-glass hover-box-shadow w3-xlarge "></i> Search</span>
						<span title="Filters" class="siteSidebarToggle w3-padding-small w3-hover-black w3-light-green " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleFilters').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-light-green'); $(this).addClass('w3-black'); $(this).removeClass('w3-light-green'); "><i class="fad fa-filters hover-box-shadow w3-xlarge "></i> Filters</span>
						<span title="Range" class="siteSidebarToggle w3-padding-small w3-hover-black w3-light-green " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleRange').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-light-green'); $(this).addClass('w3-black'); $(this).removeClass('w3-light-green'); "><i class="fad fa-calendar-range hover-box-shadow w3-xlarge "></i> Range</span>
						<span title="Pivot" class="siteSidebarToggle w3-padding-small w3-hover-black w3-light-green " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-light-green'); $(this).addClass('w3-black'); $(this).removeClass('w3-light-green'); "><i class="fad fa-table-pivot hover-box-shadow w3-xlarge "></i> Pivot</span>
						<span title="FieldList" class="siteSidebarToggle w3-padding-small w3-hover-black w3-light-green " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleFieldList').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-light-green'); $(this).addClass('w3-black'); $(this).removeClass('w3-light-green'); "><i class="fad fa-list-ul hover-box-shadow w3-xlarge "></i> FieldList</span>
						<span title="Stats" class="siteSidebarToggle w3-padding-small w3-hover-black w3-light-green " onclick="$('.siteSidebarToggleFieldList').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleStats').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-light-green'); $(this).addClass('w3-black'); $(this).removeClass('w3-light-green'); "><i class="fad fa-chart-candlestick hover-box-shadow w3-xlarge "></i> Stats</span>
						<a title="API" class="siteSidebarToggle w3-padding-small w3-hover-black w3-light-green " href="{{ apiUri }}{{ queryStr }}"><i class="fad fa-brackets-curly hover-box-shadow w3-xlarge "></i> API</a>
					</div>
					<div class=" ">
						<div class="siteSidebarToggle siteSidebarToggleSearch w3-dropdown-content min-width-300px w3-white w3-border w3-border-light-green " style="display: none; ">
							<div class="w3-bar w3-light-green ">
								<span class="w3-bar-item ">
								<i class="fad fa-magnifying-glass "></i> Search</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodySearch"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFilters w3-dropdown-content min-width-300px w3-white w3-border w3-border-light-green " style="display: none; ">
							<div class="w3-bar w3-light-green ">
								<span class="w3-bar-item ">
								<i class="fad fa-filters "></i> Filters</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFilters"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleRange w3-dropdown-content min-width-300px w3-white w3-border w3-border-light-green " style="display: none; ">
							<div class="w3-bar w3-light-green  ">
								<span class="w3-bar-item ">
								<i class="fad fa-calendar-range "></i> Range</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyRange"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarTogglePivot w3-dropdown-content min-width-300px w3-white w3-border w3-border-light-green " style="display: none; ">
							<div class="w3-bar w3-light-green ">
								<span class="w3-bar-item ">
								<i class="fad fa-table-pivot "></i> Pivot</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyPivot"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFieldList w3-dropdown-content min-width-300px w3-white w3-border w3-border-light-green " style="display: none; ">
							<div class="w3-bar w3-light-green ">
								<span class="w3-bar-item ">
								<i class="fad fa-list-ul "></i> Field List</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFieldList"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleStats w3-dropdown-content min-width-300px w3-white w3-border w3-border-light-green " style="display: none; ">
							<div class="w3-bar w3-light-green ">
								<span class="w3-bar-item ">
								<i class="fad fa-chart-candlestick "></i> Stats</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyStats"}}{{/block}}
							</div>
						</div>
					</div>
				</div>
{{/inline}}
{{#*inline "htmBodyStartReportNarrativePage"}}
{{> "htmBodyStartBaseModelPage"}}
{{/inline}}
{{#*inline "htmBodyMiddleReportNarrativePage"}}
{{> "htmBodyMiddleBaseModelPage"}}
{{/inline}}
{{#*inline "htmBodyEndReportNarrativePage"}}
{{> "htmBodyEndBaseModelPage"}}
{{/inline}}
{{#*inline "htmBodyReportNarrativePage"}}
{{#block "htmBodyStart"}}{{/block}}
{{#block "htmBodyMiddle"}}{{/block}}
{{#block "htmBodyEnd"}}{{/block}}
{{/inline}}
{{#*inline "htmBodyMiddleReportNarrativePage"}}
		<div class="w3-bar w3-content ">
{{#block "htmBodySidebar"}}{{/block}}
		</div>
{{#block "htmBodyGraph"}}{{/block}}
	<div class="pageContent w3-content ">
	{{#eq reportNarrativeCount int0}}
{{#block "htmBodyCount0"}}{{/block}}
	{{else}}
		{{#eq reportNarrativeCount int1}}
			{{#eq params.query.q "*:*"}}
{{#block "htmBodyCount1All"}}{{/block}}
			{{else}}
{{#block "htmBodyCount1"}}{{/block}}
			{{/eq}}
		{{else}}
{{#block "htmBodyAll"}}{{/block}}
		{{/eq}}
	{{/eq}}
{{#block "htmForm"}}{{/block}}
{{#block "htmForms"}}{{/block}}
	</div>
{{/inline}}
{{#*inline "table1ReportNarrativePage"}}
		<div class="w3-responsive ">
			<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable ">
{{> table2ReportNarrativePage}}
			</table>
		</div>
{{/inline}}
{{#*inline "table2ReportNarrativePage"}}
{{> "thead1ReportNarrativePage"}}
{{> "tbody1ReportNarrativePage"}}
{{> "tfoot1ReportNarrativePage"}}
{{/inline}}
{{#*inline "thead1ReportNarrativePage"}}
				<thead class="w3-light-green w3-hover-light-green">
{{> thead2ReportNarrativePage}}
				</thead>
{{/inline}}
{{#*inline "thead2ReportNarrativePage"}}
			<tr>
						<th>created</th>
						<th></th>
			</tr>
{{/inline}}
{{#*inline "tbody1ReportNarrativePage"}}
				<tbody>
{{> tbody2ReportNarrativePage}}
				</tbody>
{{/inline}}
{{#*inline "tbody2ReportNarrativePage"}}
		{{#each listReportNarrative}}
					<tr>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{siteZonedDateTimeFormat created "MMM d, yyyy h:mm:ss a" siteLocale}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<i class="fad fa-calendar-pen "></i>
								<span class="white-space-pre-wrap ">{{objectTitle}}</span>
							</a>
						</td>
					</tr>
		{{/each}}
{{/inline}}
{{#*inline "tfoot1ReportNarrativePage"}}
				<tfoot class="w3-light-green w3-hover-light-green">
{{> tfoot2ReportNarrativePage}}
				</tfoot>
{{/inline}}
{{#*inline "tfoot2ReportNarrativePage"}}
			<tr>
			{{#if getColumnCreated}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnObjectTitle}}
				<td>
				</td>
			{{/if}}
			</tr>
	{{/inline}}
{{#*inline "htmFormsReportNarrativePage"}}
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq reportNarrativeCount int1}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-light-green "
			id="refreshThisReportNarrativeGenPage"
			onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'pk:{{pk}}' } ], {}, function() { addGlow($('#refreshThisReportNarrativeGenPage')); }, function() { addError($('#refreshThisReportNarrativeGenPage')); }); return false; ">
			<i class="fas fa-sync-alt "></i>
			refresh this report narrative
		</button>
		{{/eq}}
	{{/ifContainsAnyRoles}}
	{{#ifContainsAnyRoles roles authRolesAdmin}}
{{#block "htmForm_putimportReportNarrative"}}{{/block}}
{{#block "htmForm_postReportNarrative"}}{{/block}}
{{#block "htmForm_patchReportNarrative"}}{{/block}}
	{{/ifContainsAnyRoles}}
{{#block "htmSuggested"}}{{/block}}
{{/inline}}
{{#*inline "htmSuggestedReportNarrativePage"}}
			{{#ifContainsAnyRoles roles rolesRequired}}
					<div class="">
						<button id="refreshAllReportNarrativeGenPage{{id}}" class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-light-green "
							onclick="patch{{classSimpleName}}Vals([], {}, function() { addGlow($('#refreshAllReportNarrativeGenPage{{id}}')); }, function() { addError($('#refreshAllReportNarrativeGenPage{{id}}')); }); "
							>
							<i class="fas fa-sync-alt "></i>
							refresh all the report narratives
						</button>
					</div>
			{{/ifContainsAnyRoles}}
			<div class="w3-cell-row ">
				<div class="w3-cell ">
					<span>
						search report narratives: 
					</span>
				</div>
			</div>
			<div class="w3-bar ">
				<input
					type="text"
					class="suggestReportNarrative w3-input w3-border w3-bar-item "
					name="suggestReportNarrative"
					id="suggestReportNarrative{{id}}"
					autocomplete="off"
					oninput="suggestReportNarrativeObjectSuggest( [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'classCanonicalName,pk,pageUrlPk,objectTitle' } ], $('#suggestListReportNarrative{{id}}'), {{pk}}; "
					onkeyup="if (event.keyCode === 13) { event.preventDefault(); window.location.href = '/report-narrative?q={{query1}}:' + encodeURIComponent(this.value) + '{{fqs}}{{sorts}}&amp;rows={{start2}}&amp;rows={{rows1}}"
				{{#if listReportNarrative}}
					value="{{query2}}"
				{{/if}}
				/>
				<button
					class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-light-green "
					onclick="window.location.href = '/report-narrative?q=&quot;, query1, &quot;:' + encodeURIComponent(this.previousElementSibling.value) + '&quot;, fqs, sorts, &quot;&amp;rows=&quot;, start2, &quot;&amp;rows=&quot;, rows1, &quot;'; "
					>
					<i class="fas fa-search "></i>
				</button>
			<div>
			<div class="w3-cell-row ">
				<div class="w3-cell w3-left-align w3-cell-top ">
					<ul class="w3-ul w3-hoverable " id="suggestListReportNarrative{{id}}">
					</ul>
				</div>
			</div>
			<div class="">
				<a href="/report-narrative" class="">
					<i class="fad fa-calendar-pen"></i>
					see all the report narratives
				</a>
			</div>
{{/inline}}
{{> BaseModelPage baseModel_=reportNarrative_}}

{{#*inline "htmScheduleKey"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}ReportNarrativeScheduleKey">
											<div class="w3-card ">
												<div class="w3-cell-row ">
													<a href="/report-schedule?fq=narrativeKeys:{{reportNarrative_.pk}}" class="w3-cell w3-btn w3-center h4 w3-block h4 w3-light-green w3-hover-light-green ">
														<i class="fad fa-calendar-days "></i>
														schedule
													</a>
												</div>
												<div class="w3-cell-row ">
													<h5 class="w3-cell ">
														relate a report schedule to this report narrative
													</h5>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														<div class="w3-cell-row ">

														{{> "inputScheduleKey"}}
														</div>
													</div>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell w3-left-align w3-cell-top ">
														<ul class="w3-ul w3-hoverable " id="listReportNarrativeScheduleKey_{{classApiMethodMethod}}">
														</ul>
														{{#ifContainsAnyRoles roles rolesRequired}}
	{{#eq 'Page' classApiMethodMethod}}
																<div class="w3-cell-row ">
																	<button
																		 class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-light-green "
																		 id="{{classApiMethodMethod}}_scheduleKey_add"
																		 onclick="$(this).addClass('w3-disabled'); this.disabled = true; this.innerHTML = 'Sending…'; postReportScheduleVals({ narrativeKeys: [ '{{pk}}' ] }, function() { $('#{{classApiMethodMethod}}_scheduleKey_add').disabled = false; $('#{{classApiMethodMethod}}_scheduleKey_add').innerHTML = 'add a report schedule'; }, function() { addError($('#{{classApiMethodMethod}}scheduleKey')); });"
																		>add a report schedule</button>
																</div>
	{{/eq}}
														{{/ifContainsAnyRoles}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputScheduleKey"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<i class="far fa-search w3-xxlarge w3-cell w3-cell-middle "></i>
														{{#eq 'PUTCopy' classApiMethodMethod}}
															<div>
																<input 
																	type="checkbox"
																	id="{{classApiMethodMethod}}_scheduleKey_clear"
																	class="scheduleKey_clear "
																	>
																<label for="{{classApiMethodMethod}}_scheduleKey_clear">clear</label>
															</div>
														{{/eq}}
														<input
																type="text"
																placeholder="schedule"
															class="valueObjectSuggest suggestScheduleKey w3-input w3-border w3-cell w3-cell-middle "
															name="setScheduleKey"
															id="{{classApiMethodMethod}}_scheduleKey"
															autocomplete="off"
															oninput="suggestReportNarrativeScheduleKey($(this).val() ? [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'classCanonicalName,narrativeKeys,pk,pageUrlPk,objectTitle' } ] : [{{#if pk}}{'name':'fq','value':'narrativeKeys:{{pk}}'}{{else}}{{/if}}], $('#listReportNarrativeScheduleKey_{{classApiMethodMethod}}'), {{pk}}); "
															/>

													{{else}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmAssigneeKey"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}ReportNarrativeAssigneeKey">
											<div class="w3-card ">
												<div class="w3-cell-row ">
													<a href="/user?fq=narrativeKeys:{{reportNarrative_.pk}}" class="w3-cell w3-btn w3-center h4 w3-block h4 w3-gray w3-hover-gray ">
														<i class="far fa-user-cog "></i>
														assignee
													</a>
												</div>
												<div class="w3-cell-row ">
													<h5 class="w3-cell ">
														relate a site user to this report narrative
													</h5>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														<div class="w3-cell-row ">

														{{> "inputAssigneeKey"}}
														</div>
													</div>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell w3-left-align w3-cell-top ">
														<ul class="w3-ul w3-hoverable " id="listReportNarrativeAssigneeKey_{{classApiMethodMethod}}">
														</ul>
														{{#ifContainsAnyRoles roles rolesRequired}}
	{{#eq 'Page' classApiMethodMethod}}
																<div class="w3-cell-row ">
																	<button
																		 class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-gray "
																		 id="{{classApiMethodMethod}}_assigneeKey_add"
																		 onclick="$(this).addClass('w3-disabled'); this.disabled = true; this.innerHTML = 'Sending…'; postSiteUserVals({ narrativeKeys: [ '{{pk}}' ] }, function() { $('#{{classApiMethodMethod}}_assigneeKey_add').disabled = false; $('#{{classApiMethodMethod}}_assigneeKey_add').innerHTML = 'add a site user'; }, function() { addError($('#{{classApiMethodMethod}}assigneeKey')); });"
																		>add a site user</button>
																</div>
	{{/eq}}
														{{/ifContainsAnyRoles}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputAssigneeKey"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<i class="far fa-search w3-xxlarge w3-cell w3-cell-middle "></i>
														{{#eq 'PUTCopy' classApiMethodMethod}}
															<div>
																<input 
																	type="checkbox"
																	id="{{classApiMethodMethod}}_assigneeKey_clear"
																	class="assigneeKey_clear "
																	>
																<label for="{{classApiMethodMethod}}_assigneeKey_clear">clear</label>
															</div>
														{{/eq}}
														<input
																type="text"
																placeholder="assignee"
															class="valueObjectSuggest suggestAssigneeKey w3-input w3-border w3-cell w3-cell-middle "
															name="setAssigneeKey"
															id="{{classApiMethodMethod}}_assigneeKey"
															autocomplete="off"
															oninput="suggestReportNarrativeAssigneeKey($(this).val() ? [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'classCanonicalName,narrativeKeys,pk,pageUrlPk,objectTitle' } ] : [{{#if pk}}{'name':'fq','value':'narrativeKeys:{{pk}}'}{{else}}{{/if}}], $('#listReportNarrativeAssigneeKey_{{classApiMethodMethod}}'), {{pk}}); "
															/>

													{{else}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmNarrativeName"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}ReportNarrativeNarrativeName">
											<div class="w3-card ">
												<div class="w3-cell-row w3-light-green">
													<label for="{{classApiMethodMethod}}_narrativeName">narrative name</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputNarrativeName"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-light-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_narrativeName')); $('#{{classApiMethodMethod}}_narrativeName').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:' + $('#ReportNarrativeForm :input[name=pk]').val() }], 'setNarrativeName', null, function() { addGlow($('#{{classApiMethodMethod}}_narrativeName')); }, function() { addError($('#{{classApiMethodMethod}}_narrativeName')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputNarrativeName"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<input
															type="text"
															placeholder="narrative name"
															id="{{classApiMethodMethod}}_narrativeName"
	{{#eq "Page" classApiMethodMethod}}
																class="setNarrativeName classReportNarrative inputReportNarrative{{pk}}NarrativeName w3-input w3-border "
																name="setNarrativeName"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setNarrativeName classReportNarrative inputReportNarrative{{pk}}NarrativeName w3-input w3-border "
																name="setNarrativeName"
		{{else}}
																class="valueNarrativeName w3-input w3-border classReportNarrative inputReportNarrative{{pk}}NarrativeName w3-input w3-border "
																name="narrativeName"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:{{pk}}' }], 'setNarrativeName', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_narrativeName')); }, function() { addError($('#{{classApiMethodMethod}}_narrativeName')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{reportNarrative_.narrativeName}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varReportNarrative{{pk}}NarrativeName ">{{reportNarrative_.narrativeName}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmFirstDueDate"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-light-green">
													<label>report first due date</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputFirstDueDate"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputFirstDueDate"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varReportNarrative{{pk}}FirstDueDate ">{{reportNarrative_.firstDueDate}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmDataPullDate"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-light-green">
													<label>report data pull date</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputDataPullDate"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputDataPullDate"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varReportNarrative{{pk}}DataPullDate ">{{reportNarrative_.dataPullDate}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmNarrativeDueDate"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}ReportNarrativeNarrativeDueDate">
											<div class="w3-card ">
												<div class="w3-cell-row w3-light-green">
													<label for="{{classApiMethodMethod}}_narrativeDueDate">narrative due date</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														{{> "inputNarrativeDueDate"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-light-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_narrativeDueDate')); $('#{{classApiMethodMethod}}_narrativeDueDate').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:' + $('#ReportNarrativeForm :input[name=pk]').val() }], 'setNarrativeDueDate', null, function() { addGlow($('#{{classApiMethodMethod}}_narrativeDueDate')); }, function() { addError($('#{{classApiMethodMethod}}_narrativeDueDate')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputNarrativeDueDate"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<input
																type="date"
																class="w3-input w3-border setNarrativeDueDate classReportNarrative inputReportNarrative{{pk}}NarrativeDueDate w3-input w3-border "
																id="{{classApiMethodMethod}}_narrativeDueDate"
																value="{{reportNarrative_.narrativeDueDate}}"
														{{#eq 'Page' classApiMethodMethod}}
															onchange="if(this.value) { patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:{{pk}}' }], 'setNarrativeDueDate', this.value, function() { addGlow($('#{{classApiMethodMethod}}_narrativeDueDate')); }, function() { addError($('#{{classApiMethodMethod}}_narrativeDueDate')); }); } "
														{{/eq}}
														/>
													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varReportNarrative{{pk}}NarrativeDueDate ">{{reportNarrative_.narrativeDueDate}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}
