{{#*inline "htmTitleReportNarrativePage"}}		<!-- inline "htmTitleReportNarrativePage" -->
		<title>{{#if searchListReportNarrative_}}{{#eq reportNarrativeCount int1}}{{#eq params.query.q "*:*"}}report narrative{{else}}report narrative{{/eq}}{{else}}no report narrative found{{/eq}}{{else}}report narratives{{/if}}</title>
{{/inline}}
{{#*inline "htmMetaReportNarrativePage"}}{{> "htmMetaBaseModelPage"}}{{/inline}}
{{#*inline "htmStyleReportNarrativePage"}}{{> "htmStyleBaseModelPage"}}{{/inline}}
{{#*inline "htmScriptsReportNarrativePage"}}{{> "htmScriptsBaseModelPage"}}		<!-- inline "htmScriptsReportNarrativePage" -->
		<script src="{{staticBaseUrl}}/js/enUS/ReportNarrativePage.js"></script>
		<script src="{{staticBaseUrl}}/js/enUS/ReportSchedulePage.js"></script>
		<script src="{{staticBaseUrl}}/js/enUS/SiteUserPage.js"></script>
{{/inline}}
{{#*inline "htmScriptReportNarrativePage"}}		<!-- inline "htmScriptReportNarrativePage" -->
		<script>
			$(document).ready(function() {
				document.onkeydown = function(evt) {
					evt = evt || window.event;
					var isEscape = false;
					if ('key' in evt) {
						isEscape = (evt.key === 'Escape' || evt.key === 'Esc');
					} else {
						isEscape = (evt.keyCode === 27);
					}
					if (isEscape) {
						$('.w3-modal:visible').hide();
					}
				};
				window.eventBus = new EventBus('/eventbus');
				var pk = {{#if pk}}{{pk}}{{else}}null{{/if}};
				if(pk != null) {
		{{#ifContainsAnyRoles roles rolesRequired}}
					suggestReportNarrativeScheduleKey([{'name':'fq','value':'narrativeKeys:' + pk}], $('#listReportNarrativeScheduleKey_Page'), pk, true);
		{{else}}
					suggestReportNarrativeScheduleKey([{'name':'fq','value':'narrativeKeys:' + pk}], $('#listReportNarrativeScheduleKey_Page'), pk, false);
		{{/ifContainsAnyRoles}}
		{{#ifContainsAnyRoles roles rolesRequired}}
					suggestReportNarrativeAssigneeKey([{'name':'fq','value':'narrativeKeys:' + pk}], $('#listReportNarrativeAssigneeKey_Page'), pk, true);
		{{else}}
					suggestReportNarrativeAssigneeKey([{'name':'fq','value':'narrativeKeys:' + pk}], $('#listReportNarrativeAssigneeKey_Page'), pk, false);
		{{/ifContainsAnyRoles}}
				}
				websocketReportNarrative(websocketReportNarrativeInner);
			});
		</script>
{{/inline}}
{{#*inline "htmUrlReportNarrative"}}{{pageUri}}?q={{query.q}}&amp;rows={{#if rows}}{{rows}}{{else}}{{pagination.rows}}{{/if}}&amp;rows={{#if start}}{{start}}{{else}}{{pagination.start}}{{/if}}{{#each query.fq}}{{#eq fq this}}{{else}}&fq={{fq}}:{{val}}{{/eq}}{{/each}}{{#each query.sort}}{{#eq sort this}}{{else}}&sort={{var}} {{order}}{{/eq}}{{/each}}{{/inline}}
{{#*inline "htmHeadReportNarrativePage"}}{{> "htmTitleReportNarrativePage"}}{{> "htmMetaReportNarrativePage"}}{{> "htmStyleReportNarrativePage"}}{{> "htmScriptsReportNarrativePage"}}{{> "htmScriptReportNarrativePage"}}{{/inline}}
{{#*inline "htmBodyCount0ReportNarrativePage"}}		<!-- #*inline "htmBodyCount0ReportNarrativePage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-light-green w3-hover-light-green">
				{{#if contextIconCssClasses}}
					<i class="contextIconCssClasses site-menu-icon "></i>
				{{/if}}
				<span class="">report narratives</span>
			</a>
		</h1>
		<h2>
			<span class="w3-bar-item w3-padding w3-center w3-block w3-light-green">
				{{#if contextIconCssClasses}}
					<i class="contextIconCssClasses + " site-menu-icon "></i>
				{{/if}}
				<span class="">no report narrative found</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1AllReportNarrativePage"}}		<!-- #*inline "htmBodyCount1AllReportNarrativePage" -->
		<h1 class="w3-center ">
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-block w3-light-green w3-hover-light-green">
			{{#if contextIconCssClasses}}
				<i class="contextIconCssClasses site-menu-icon "></i>
			{{/if}}
				<span class="">report narrative</span>
			</a>
		</h1>
		<h2 class="w3-center ">
			<span class="w3-bar-item w3-padding w3-center w3-block w3-light-green">
				<span class="">{{reportNarrative_.objectTitle}}</span>
			</span>
		</h2>
{{#block "htmForm"}}{{/block}}
{{/inline}}
{{#*inline "htmBodyCount1ReportNarrativePage"}}		<!-- #*inline "htmBodyCount1ReportNarrativePage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-light-green w3-hover-light-green">
	{{#if contextIconCssClasses}}
				<i class="contextIconCssClasses + " site-menu-icon "></i>
	{{/if}}
				<span class="">report narratives</span>
			</a>
		</h1>
		<div>
	{{#if pagination.pagePrevious}}
			<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-left "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
				<i class="fas fa-minus-square "></i>
			</a>
	{{else}}
			<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
				<i class="fas fa-plus-square "></i>
			</a>
	{{#if pagination.pageNext}}
			<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-right "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
			<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
		</div>
{{> "table1ReportNarrativePage"}}
{{/inline}}
{{#*inline "htmBodyAllReportNarrativePage"}}		<!-- #*inline "htmBodyAllReportNarrativePage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-light-green w3-hover-light-green">
	{{#if contextIconCssClasses}}
				<i class="contextIconCssClasses + " site-menu-icon "></i>
	{{/if}}
				<span class="">report narratives</span>
			</a>
		</h1>
		<div class="">
			<div>
	{{#if pagination.pagePrevious}}
				<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-left "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
					<i class="fas fa-minus-square "></i>
				</a>
	{{else}}
				<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
					<i class="fas fa-plus-square "></i>
				</a>
	{{#if pagination.pageNext}}
				<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-right "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
				<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
			</div>
{{> "table1ReportNarrativePage"}}
		</div>
{{/inline}}
{{#*inline "htmFormReportNarrativePage"}}	{{#if pk}}
		<!-- #*inline "htmForm" -->
		<form action="" id="ReportNarrativeForm" style="display: inline-block; width: 100%; " onsubmit="event.preventDefault(); return false; ">
			<input name="pk" class="valuePk" type="hidden" value="{{pk}}"/>
			<input name="focusId" type="hidden"/>
		</form>
{{#block "htmForm_searchpageReportNarrative"}}{{/block}}
	{{/if}}
{{/inline}}
{{#*inline "htmFormReportNarrativePage_putimportReportNarrative"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-light-green "
			onclick="$('#putimportReportNarrativeModal').show(); "
			>
			<i class="fas fa-file-import "></i>
			Import report narratives
		</button>
		<div id="putimportReportNarrativeModal" class="w3-modal w3-padding-32 ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-light-green">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#putimportReportNarrativeModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Import report narratives</h2>
					</header>
					<div class="" id="putimportReportNarrativeFormValues">
						<div class="w3-cell-row ">
							<textarea
								class="PUTImport_searchList w3-input w3-border "
								style="height: 400px; "
								placeholder="{ 'searchList': [ { 'pk': ... , 'saves': [ ... ] }, ... ] }"
								></textarea>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-light-green "
							onclick="putimportReportNarrative($('#putimportReportNarrativeFormValues')); "
							>Import report narratives</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormReportNarrativePage_postReportNarrative"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-light-green "
			onclick="$('#postReportNarrativeModal').show(); "
			>
			<i class="fas fa-file-plus "></i>
			Create a report narrative
		</button>
		<div id="postReportNarrativeModal" class="w3-modal w3-padding-32 ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-light-green">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#postReportNarrativeModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Create a report narrative</h2>
					</header>
					<div class="" id="postReportNarrativeFormValues">
						<div id="postReportNarrativeForm">
							<div class="w3-cell-row ">
{{> "htmCreated" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="POST"}}
{{> "htmDeleted" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmScheduleKey" classApiMethodMethod="POST"}}
{{> "htmAssigneeKey" classApiMethodMethod="POST"}}
{{> "htmNarrativeName" classApiMethodMethod="POST"}}
							</div>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-light-green "
							onclick="postReportNarrative($('#postReportNarrativeForm')); "
							>Create a report narrative</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormReportNarrativePage_patchReportNarrative"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-light-green "
			onclick="$('#patchReportNarrativeModal').show(); "
			>
			<i class="fas fa-edit "></i>
			Modify report narratives
		</button>
		<div id="patchReportNarrativeModal" class="w3-modal w3-padding-32 ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-light-green">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#patchReportNarrativeModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Modify report narratives</h2>
					</header>
					<div class="" id="patchReportNarrativeFormValues">
							<div class="w3-cell-row ">
{{> "htmCreated" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="PATCH"}}
{{> "htmDeleted" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmScheduleKey" classApiMethodMethod="PATCH"}}
{{> "htmAssigneeKey" classApiMethodMethod="PATCH"}}
{{> "htmNarrativeName" classApiMethodMethod="PATCH"}}
							</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-light-green "
							onclick="patchReportNarrative(null, $('#patchReportNarrativeFormValues')); "
							>Modify report narratives</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormReportNarrativePage_searchpageReportNarrative"}}
		<div id="searchpageReportNarrativeModal" class="w3-padding-32 ">
			<div class="">
				<div class="w3-card-4 ">
					<header class="w3-container w3-light-green">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#searchpageReportNarrativeModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Delete report narratives</h2>
					</header>
					<div class="" id="searchpageReportNarrativeFormValues">
						<div id="searchpageReportNarrativeForm">
							<div class="w3-cell-row ">
{{> "htmPk" classApiMethodMethod="Page"}}
{{> "htmCreated" classApiMethodMethod="Page"}}
{{> "htmModified" classApiMethodMethod="Page"}}
{{> "htmObjectId" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="Page"}}
{{> "htmDeleted" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmScheduleKey" classApiMethodMethod="Page"}}
{{> "htmAssigneeKey" classApiMethodMethod="Page"}}
{{> "htmNarrativeName" classApiMethodMethod="Page"}}
							</div>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-light-green "
							onclick="searchpageReportNarrative(); "
							>Delete report narratives</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmBodyStartReportNarrativePage"}}
{{> "htmBodyStartBaseModelPage"}}
{{/inline}}
{{#*inline "htmBodyEndReportNarrativePage"}}
{{> "htmBodyEndBaseModelPage"}}
{{/inline}}
{{#*inline "htmBodyReportNarrativePage"}}
{{#block "htmBodyStart"}}{{/block}}
	{{#eq reportNarrativeCount int0}}
{{#block "htmBodyCount0"}}{{/block}}
	{{else}}
		{{#eq reportNarrativeCount int1}}
			{{#eq params.query.q "*:*"}}
{{#block "htmBodyCount1All"}}{{/block}}
			{{else}}
{{#block "htmBodyCount1"}}{{/block}}
			{{/eq}}
		{{else}}
{{#block "htmBodyAll"}}{{/block}}
		{{/eq}}
	{{/eq}}
{{#block "htmForms"}}{{/block}}
{{#block "htmBodyEnd"}}{{/block}}
{{/inline}}
{{#*inline "table1ReportNarrativePage"}}
		<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable ">
			{{> table2ReportNarrativePage}}
		</table>
{{/inline}}
{{#*inline "table2ReportNarrativePage"}}
		{{> "thead1ReportNarrativePage"}}
		{{> "tbody1ReportNarrativePage"}}
		{{> "tfoot1ReportNarrativePage"}}
	{{/inline}}
{{#*inline "thead1ReportNarrativePage"}}
		<thead class="w3-light-green w3-hover-light-green">
			{{> thead2ReportNarrativePage}}
		</thead>
	{{/inline}}
{{#*inline "thead2ReportNarrativePage"}}
			<tr>
				<th>created</th>
				<th></th>
			</tr>
{{/inline}}
{{#*inline "tbody1ReportNarrativePage"}}
		<tbody>
			{{> tbody2ReportNarrativePage}}
		</tbody>
{{/inline}}
{{#*inline "tbody2ReportNarrativePage"}}
		{{#each listReportNarrative}}
			<tr>
					<td>
						<a href="{{pageUrlPk}}">
							<span class="white-space-pre-wrap ">{{siteZonedDateTimeFormat created "MMM d, yyyy h:mm:ss a" siteLocale}}</span>
						</a>
					</td>
					<td>
						<a href="{{pageUrlPk}}">
							<i class="fad fa-calendar-pen "></i>
							<span class="white-space-pre-wrap ">{{objectTitle}}</span>
						</a>
					</td>
			</tr>
		{{/each}}
{{/inline}}
{{#*inline "tfoot1ReportNarrativePage"}}
		<tfoot class="w3-light-green w3-hover-light-green">
			{{> tfoot2ReportNarrativePage}}
		</tfoot>
{{/inline}}
{{#*inline "tfoot2ReportNarrativePage"}}
		<tr>
			{{#if getColumnCreated}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnObjectTitle}}
				<td>
				</td>
			{{/if}}
		</tr>
	{{/inline}}
{{#*inline "htmFormsReportNarrativePage"}}
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq reportNarrativeCount int1}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-light-green "
			id="refreshThisReportNarrativeGenPage"
			onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'pk:{{pk}}' } ], {}, function() { addGlow($('#refreshThisReportNarrativeGenPage')); }, function() { addError($('#refreshThisReportNarrativeGenPage')); }); return false; ">
			<i class="fas fa-sync-alt "></i>
			refresh this report narrative
		</button>
		{{/eq}}
	{{/ifContainsAnyRoles}}
	{{#ifContainsAnyRoles roles authRolesAdmin}}
{{#block "htmForm_putimportReportNarrative"}}{{/block}}
{{#block "htmForm_postReportNarrative"}}{{/block}}
{{#block "htmForm_patchReportNarrative"}}{{/block}}
	{{/ifContainsAnyRoles}}
{{#block "htmSuggested"}}{{/block}}
{{/inline}}
{{#*inline "htmSuggestedReportNarrativePage"}}
			{{#ifContainsAnyRoles roles rolesRequired}}
					<div class="">
						<button id="refreshAllReportNarrativeGenPage{{id}}" class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-light-green "
							onclick="patch{{classSimpleName}}Vals([], {}, function() { addGlow($('#refreshAllReportNarrativeGenPage{{id}}')); }, function() { addError($('#refreshAllReportNarrativeGenPage{{id}}')); }); "
							>
							<i class="fas fa-sync-alt "></i>
							refresh all the report narratives
						</button>
					</div>
			{{/ifContainsAnyRoles}}
			<div class="w3-cell-row ">
				<div class="w3-cell ">
					<span>
						search report narratives: 
					</span>
				</div>
			</div>
			<div class="w3-bar ">
				<input
					type="text"
					class="suggestReportNarrative w3-input w3-border w3-bar-item "
					name="suggestReportNarrative"
					id="suggestReportNarrative{{id}}"
					autocomplete="off"
					oninput="suggestReportNarrativeObjectSuggest( [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'classCanonicalName,pk,pageUrlPk,objectTitle' } ], $('#suggestListReportNarrative{{id}}'), {{pk}}; "
					onkeyup="if (event.keyCode === 13) { event.preventDefault(); window.location.href = '/api/report-narrative?q={{query1}}:' + encodeURIComponent(this.value) + '{{fqs}}{{sorts}}&amp;rows={{start2}}&amp;rows={{rows1}}"
				{{#if listReportNarrative}}
					value="{{query2}}"
				{{/if}}
				/>
				<button
					class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-light-green "
					onclick="window.location.href = '/api/report-narrative?q=&quot;, query1, &quot;:' + encodeURIComponent(this.previousElementSibling.value) + '&quot;, fqs, sorts, &quot;&amp;rows=&quot;, start2, &quot;&amp;rows=&quot;, rows1, &quot;'; "
					>
					<i class="fas fa-search "></i>
				</button>
			<div>
			<div class="w3-cell-row ">
				<div class="w3-cell w3-left-align w3-cell-top ">
					<ul class="w3-ul w3-hoverable " id="suggestListReportNarrative{{id}}">
					</ul>
				</div>
			</div>
			<div class="">
				<a href="/api/report-narrative" class="">
					<i class="fad fa-calendar-pen"></i>
					see all the report narratives
				</a>
			</div>
{{/inline}}
{{> BaseModelPage baseModel_=reportNarrative_}}

{{#*inline "htmScheduleKey"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}ReportNarrativeScheduleKey">
											<div class="w3-card ">
												<div class="w3-cell-row ">
													<a href="/report-schedule?fq=narrativeKeys:{{reportNarrative_.pk}}" class="w3-cell w3-btn w3-center h4 w3-block h4 w3-light-green w3-hover-light-green ">
														<i class="fad fa-calendar-days "></i>
														schedule
													</a>
												</div>
												<div class="w3-cell-row ">
													<h5 class="w3-cell ">
														relate a report schedule to this report narrative
													</h5>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														<div class="w3-cell-row ">

														{{> "inputScheduleKey"}}
														</div>
													</div>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell w3-left-align w3-cell-top ">
														<ul class="w3-ul w3-hoverable " id="listReportNarrativeScheduleKey_{{classApiMethodMethod}}">
														</ul>
														{{#ifContainsAnyRoles roles rolesRequired}}
	{{#eq 'Page' classApiMethodMethod}}
																<div class="w3-cell-row ">
																	<button
																		 class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-light-green "
																		 id="{{classApiMethodMethod}}_scheduleKey_add"
																		 onclick="$(this).addClass('w3-disabled'); this.disabled = true; this.innerHTML = 'Sending…'; postReportScheduleVals({ narrativeKeys: [ '{{pk}}' ] }, function() { $('#{{classApiMethodMethod}}_scheduleKey_add').disabled = false; $('#{{classApiMethodMethod}}_scheduleKey_add').innerHTML = 'add a report schedule'; }, function() { addError($('#{{classApiMethodMethod}}scheduleKey')); });"
																		>add a report schedule</button>
																</div>
	{{/eq}}
														{{/ifContainsAnyRoles}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputScheduleKey"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<i class="far fa-search w3-xxlarge w3-cell w3-cell-middle "></i>
														{{#eq 'PUTCopy' classApiMethodMethod}}
															<div>
																<input 
																	type="checkbox"
																	id="{{classApiMethodMethod}}_scheduleKey_clear"
																	class="scheduleKey_clear "
																	>
																<label for="{{classApiMethodMethod}}_scheduleKey_clear">clear</label>
															</div>
														{{/eq}}
														<input
																type="text"
																placeholder="schedule"
															class="valueObjectSuggest suggestScheduleKey w3-input w3-border w3-cell w3-cell-middle "
															name="setScheduleKey"
															id="{{classApiMethodMethod}}_scheduleKey"
															autocomplete="off"
															oninput="suggestReportNarrativeScheduleKey($(this).val() ? [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'classCanonicalName,narrativeKeys,pk,pageUrlPk,objectTitle' } ] : [{{#if pk}}{'name':'fq','value':'narrativeKeys:{{pk}}'}{{else}}{{/if}}], $('#listReportNarrativeScheduleKey_{{classApiMethodMethod}}'), {{pk}}); "
															/>

													{{else}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmAssigneeKey"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}ReportNarrativeAssigneeKey">
											<div class="w3-card ">
												<div class="w3-cell-row ">
													<a href="/user?fq=narrativeKeys:{{reportNarrative_.pk}}" class="w3-cell w3-btn w3-center h4 w3-block h4 w3-teal w3-hover-teal ">
														<i class="far fa-user-cog "></i>
														assignee
													</a>
												</div>
												<div class="w3-cell-row ">
													<h5 class="w3-cell ">
														relate a site user to this report narrative
													</h5>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														<div class="w3-cell-row ">

														{{> "inputAssigneeKey"}}
														</div>
													</div>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell w3-left-align w3-cell-top ">
														<ul class="w3-ul w3-hoverable " id="listReportNarrativeAssigneeKey_{{classApiMethodMethod}}">
														</ul>
														{{#ifContainsAnyRoles roles rolesRequired}}
	{{#eq 'Page' classApiMethodMethod}}
																<div class="w3-cell-row ">
																	<button
																		 class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-teal "
																		 id="{{classApiMethodMethod}}_assigneeKey_add"
																		 onclick="$(this).addClass('w3-disabled'); this.disabled = true; this.innerHTML = 'Sending…'; postSiteUserVals({ narrativeKeys: [ '{{pk}}' ] }, function() { $('#{{classApiMethodMethod}}_assigneeKey_add').disabled = false; $('#{{classApiMethodMethod}}_assigneeKey_add').innerHTML = 'add a site user'; }, function() { addError($('#{{classApiMethodMethod}}assigneeKey')); });"
																		>add a site user</button>
																</div>
	{{/eq}}
														{{/ifContainsAnyRoles}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputAssigneeKey"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<i class="far fa-search w3-xxlarge w3-cell w3-cell-middle "></i>
														{{#eq 'PUTCopy' classApiMethodMethod}}
															<div>
																<input 
																	type="checkbox"
																	id="{{classApiMethodMethod}}_assigneeKey_clear"
																	class="assigneeKey_clear "
																	>
																<label for="{{classApiMethodMethod}}_assigneeKey_clear">clear</label>
															</div>
														{{/eq}}
														<input
																type="text"
																placeholder="assignee"
															class="valueObjectSuggest suggestAssigneeKey w3-input w3-border w3-cell w3-cell-middle "
															name="setAssigneeKey"
															id="{{classApiMethodMethod}}_assigneeKey"
															autocomplete="off"
															oninput="suggestReportNarrativeAssigneeKey($(this).val() ? [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'classCanonicalName,narrativeKeys,pk,pageUrlPk,objectTitle' } ] : [{{#if pk}}{'name':'fq','value':'narrativeKeys:{{pk}}'}{{else}}{{/if}}], $('#listReportNarrativeAssigneeKey_{{classApiMethodMethod}}'), {{pk}}); "
															/>

													{{else}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmNarrativeName"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}ReportNarrativeNarrativeName">
											<div class="w3-card ">
												<div class="w3-cell-row w3-light-green">
													<label for="{{classApiMethodMethod}}_narrativeName">narrative name</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputNarrativeName"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-light-green "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_narrativeName')); $('#{{classApiMethodMethod}}_narrativeName').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:' + $('#ReportNarrativeForm :input[name=pk]').val() }], 'setNarrativeName', null, function() { addGlow($('#{{classApiMethodMethod}}_narrativeName')); }, function() { addError($('#{{classApiMethodMethod}}_narrativeName')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputNarrativeName"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<input
															type="text"
															placeholder="narrative name"
															id="{{classApiMethodMethod}}_narrativeName"
	{{#eq "Page" classApiMethodMethod}}
																class="setNarrativeName classReportNarrative inputReportNarrative{{pk}}NarrativeName w3-input w3-border "
																name="setNarrativeName"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setNarrativeName classReportNarrative inputReportNarrative{{pk}}NarrativeName w3-input w3-border "
																name="setNarrativeName"
		{{else}}
																class="valueNarrativeName w3-input w3-border classReportNarrative inputReportNarrative{{pk}}NarrativeName w3-input w3-border "
																name="narrativeName"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:{{pk}}' }], 'setNarrativeName', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_narrativeName')); }, function() { addError($('#{{classApiMethodMethod}}_narrativeName')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{reportNarrative_.narrativeName}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varReportNarrative{{pk}}NarrativeName ">{{reportNarrative_.narrativeName}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}
